<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
	<appSettings>
		<add key="ApiBaseUrl" value="https://etereaparfums.com.ar" />
		<!--<add key="ApiBaseUrl" value="https://localhost:44345" />-->

		<!-- Endpoints de la API -->
		<add key="ApiUploadPath"  value="/api/imagenes/upload" />
		<add key="ApiReplacePath" value="/api/imagenes/replace" />
		<add key="ApiRenamePath"  value="/api/imagenes/rename" />

		<!-- API Key -->
		<add key="ApiKeyHeaderName" value="X-API-KEY" />
		<add key="ApiKeyValue"     value="Eterea_2025!_ImgKey" />

		<!-- Para armar URLs públicas manualmente -->
		<add key="PublicImagesBaseUrl" value="https://etereaparfums.com.ar" />
		<add key="PublicImagesFolder"  value="/imagenes" />
		
	</appSettings>
	
</configuration>