<add name="etereaEntities7" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL8010.site4now.net;initial catalog=db_abe44c_eterea;user id=db_abe44c_eterea_admin;password=Davinci-1999;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />